body {
    background: url("background.jpg");
}
.h1
{
    text-align: center;
    font-family: "Verdana";
    font-size: 25px;
    color: white;
    font-weight: bold;
}
#img
{
    margin-left: 40px;
    margin-top: -60px;

}
.biography
{
    margin-top: -410px;
    margin-left: 450px;
    border-radius: 20px;
    background-color: #9badff;
    height: 330px;
    width: 1000px;
}
.p1
{
    color: white;
    text-align: center;
    font-family: Verdana;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    list-style: none;
}
.h2
{
    color: white;
    text-align: center;
    font-family: Verdana;
    font-size: 23px;
}
.education
{
    margin-top: -340px;
    margin-left: 1550px;
    border-radius: 20px;
    background-color: #9badff;
    height: 330px;
    width: 300px;
}
.hobby
{
    margin: 0px;
    margin-left: 1250px;
    border-radius: 20px;
    background-color: #9badff;
    height: 300px;
    width: 600px;
}
.trips
{
    margin-top: -320px;
    margin-left: 520px;
    border-radius: 20px;
    background-color: #9badff;
    height: 300px;
    width: 660px;
}
.contact{
    margin-left: -1450px;
    margin-top: -280px;
}